
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# data file (too large for git)
processed.csv


# Environment variables (never commit secrets)
.env